{% extends "layou2.html" %}
{% block content %}
    <center>
    <h2>Submissions</h2>
    {% for item in sub_list %}
        <div class = "row">
        <div class="col-sm">
          <label for="year">ID</label>
            <h5><a href="{{ url_for('submission_info', id = item.key) }}">{{ item.id }}</a></h5>
        </div>
        <div class="col-sm">
          <label for="year">Year</label>
            <h5>{{ item.year }}</h5>
        </div>
            <div class="col-sm">

            <h5><a href="{{ url_for('archive_post', id = item.key) }}">Archive</a></h5>
        </div>
            <div class = "col-sm">
                {% if item.key in key_list %}
                    <h5>Read</h5>
                {% else %}
                    <h5>New</h5>
                {% endif %}
            </div>
        </div>

    {% endfor%}
        </center>
{% endblock content%}